@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap');


.productContainer{
    margin: 20px;
    background-color: #ffffff;
    display: flex;
    width: 400px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    box-shadow: 9px 6px 21px 0px rgba(219,219,219,1);
    -webkit-box-shadow: 9px 6px 21px 0px rgba(219,219,219,1);
    -moz-box-shadow: 9px 6px 21px 0px rgba(219,219,219,1);
    padding:20px;

}

img{
    width:200px;
    align-items: center;
}


.text{
    font-size: 14px;
}
.titulo{
    padding-top:40px;

}
p{

    text-align: right;
    padding-right: 15px;
 
}
